#myNumber {
    height: 30px;
    width: 60px;
    color:rgb(16, 40, 180);
    border: 1px green dotted;
    font-size: 25px;
    }
button{
    background-color: greenyellow;
}
#whiteText {
    color: white;
    display: none;
    display: in;
 
}
body {
    text-align: center;
}