body {
    margin: 0;
    padding: 0;
    background-color: hsla(46, 96%, 51%, 0.466);

}
.header {
    height: 200px;
    width: 100%;
    display: flex;
    background-color: hsla(46, 96%, 51%, 0.466);
}
.logoPIZZA {
    height: 200px;
    display: flex;
    width: 35%;
    padding-bottom: 10px;
}
.wrapper {
    display: flex;
    height: 150px;
    justify-content: flex-end;
    width: 85%;
    padding-right: 25px;
}
.nav_header {
    display: flex;
    padding-top: 90px;
}
.nav_header>a{
    font-size: 2.5em;
    text-decoration: none;
    padding: 10px;
    color: rgb(211, 102, 51);
    padding-left: 10px;
}
.nav_header>a:hover{
    border-radius: 20px;
    border: solid rgb(250, 206, 10) 3px;
    background-color: rgba(250, 194, 10, 0.911)}

 /* slayder*/
#block-for-slider {
        width: 70%;
        height: 200px;
        margin: 5px auto;
        
}
    
#viewport {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        text-align: center;
}
    
#slidewrapper {
        position: relative;
        width: calc(100% * 4);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
        -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
        transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
    
#slidewrapper, #slidewrapper ul, #slidewrapper li {
        margin: 0;
        padding: 0;
}
    
.slide {
        width: calc(100%/4);
        list-style: none;
        display: inline;
        float: left;
    }
    
.slide-img {
        width: 100%;
}
    
#prev-btn, #next-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(248, 224, 9);
        border-radius: 50%;
        top: calc(50% - 25px);
}
    
#prev-btn:hover, #next-btn:hover {
        cursor: pointer;
        background-color: rgb(243, 169, 10);
}
    
#prev-btn {
        left: 20px;
        
}
    
#next-btn {
        right: 20px;
}
    
#nav-btns {
        position: absolute;
        width: 100%;
        bottom: 20px;
        padding: 0;
        margin: 0;
        text-align: center;
}
    
.slide-nav-btn {
        position: relative;
        display: inline-block;
        list-style: none;
        width: 20px;
        height: 20px;
        background-color: rgb(248, 224, 9);
        border-radius: 50%;
        margin: 3px;
}
    
.slide-nav-btn:hover {
        cursor: pointer;
        background-color: rgb(243, 169, 10);
}
    /* основной контейнер */
.container {
    
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.sizepizza {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: rgb(211, 102, 51);
}
.pizza_size {
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.pizza_constructor{
    float: left;
    width: 65%;
    display: flex;
    font-size: 4em;
    justify-content: center;
    color: rgb(211, 102, 51);
    }
.souse>div{
    justify-content: center;
    margin: 25px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    border: solid rgb(250, 206, 10) 3px;
    background-color: rgba(250, 194, 10, 0.911);
    }
.toping>div{
    justify-content: center;
    margin: 25px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    border: solid rgb(250, 206, 10) 3px;
    background-color: rgba(250, 194, 10, 0.911);
    }

.ingridient{
    height: 100px;
    width: 100px;
}    
.pizza_img {
    float: right;
    height: 602px;
    width: 35%;
    align-items: center;
    text-align: center;
    justify-content: left;
}
.itog_pizza{
    height: 350px;
}
.itog_pizza>img{
    height: 300px;
    width: 300px;
    
    align-items: center;
    justify-content: center;
}
.info_all{
    float: left;
    width: 75%;
    height: 250px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: rgb(211, 102, 51);
    }

footer {
    text-align: center;
}
