html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
  background-image: url(./aff49ca2d350b30cef504d4e523b1974.jpg);
    color: #c97874;
    text-align: center;
    height: 100%;
    padding: 50px 0 50px;
}
h1{
    max-width: 600px;
    font-weight: 300;
    margin: 0 auto;
    color: rgb(18, 140, 240);
}
.calculator{
    font-size: 28px;
    margin: 0 auto;
    
}
  .viewer {
    color: #c97874;
    float: left;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 7.5em;
    height: 3em;
    text-align: right;
  }
    button {
    border: 0;
    border-radius: 35px;
    background: rgba(91, 180, 180, 0.829);
    color: rgba(218, 241, 11, 0.726);
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
  }
    button:hover {
    background: #201e40;
  }
    button:focus {
    outline: 0;
  }
    @media (min-width: 420px) {
    .calculator {
      width: 12em;
    }
      .viewer {
      width: 8em;
    }
      button {
      margin: 0.5em;
    }
  }
