header {
    background-color: indigo;
    display: flex;
    width: 100%;
    color: khaki;
}

div a img {
    height: 93px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

ul {
    margin: 0;
    display: inherit;
    justify-content: flex-end;
}

li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 0 15px;
    
}

li:hover {
    background-color: ivory;
    color: indigo;
}

.nav-1,
.nav-2 {
    display: inherit;
    width: 100%;
    height: 42px;
    justify-content: flex-end;
    align-items: center;
}
.table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table,
.ingridients {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.table-wrapper div img {
    width: 100%;
}

.ingridients h2 {
    width: 100%;
    text-align: center;
}
.ingridients div {
    display: inline-block;
    width: 30%;
}

.ingridients div img {
    height: 100px;
}
